.conteudo{
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 100vh;
    position: absolute;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF;

}

input{
    border: 1px solid #999999;
    border-radius: 18px;
    min-width: 250px;
    width: 80%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}
button{
    border: 1px solid #999999;
    border-radius: 18px;
    margin-right: 12px;
    background: #2D333B;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
}

.perfil {
    display: flex;
    margin: 20px;

}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #999999;
}

.profile h3{
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 10px;
}

.profile p{
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 10px;
}

.repositorios h4{
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}

